---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/H1.astro'
import Section from '../components/Section.astro'
---

<Layout title="About Us">
  <Main class="py-12">
    <H1  text="About Us" ></H1>
  <Section>



    <div class="grid lg:grid-cols-2 gap-2">
      <div class="p-4">
        <!-- Left column for text -->
        <p class="text-jovic-background  text-2xl lg:text-3xl " >What is Rcox Endowment ?</p>
        <p class="text-italic font-medium text-gray-600 text-lg lg:text-xl pt-2" >We are a dedicated organization based in Uganda committed to empowering vulnerable children and transforming their lives.We firmly believe that <span class="text-jovic">every child deserves</span> the opportunity to thrive, regardless of their circumstances.</p>
      </div>
      <div class="">
        <!-- Right column for image -->
        <img src="src/images/home1.jpg" alt="Image" class="object-cover w-full md:h-80 h-60 ">
      </div>
    </div>
    

  <p class="text-jovic-background  text-2xl lg:text-3xl pt-4" > Our Mission</p>
 
  <p class="text-italic font-medium text-lg text-gray-600 lg:text-xl pt-4" >At Rcox Endowment , we're on a mission to break the cycle of poverty by providing essential resources and support to vulnerable children in Uganda. Through education, housing, and healthcare, we're building brighter futures and empowering communities. Join us in creating lasting change</p>

  <!-- staff memeber or board -->

  <p class="text-jovic-background  text-2xl lg:text-3xl pb-5 pt-7" >Board Memebers</p>
<!--first staff memeber -->

  <div class="grid md:grid-cols-2 gap-4 pt-4">
    <!-- Image -->
    <div class="">
     
      <img src="src/images/Robert.jpg" alt="Image" class="object-cover md:w-full md:h-80 h-60 w-80 rounded-3xl transition-all duration-300 hover:rounded-none">

      
    </div>
    
    
    <!-- Information -->
    <div class="bg-white rounded-lg  p-6">
      <h2 class="text-lg font-semibold text-green-600">Robert Cox</h2>
      <p class="text-sm text-xephas-yellow mb-2">Fire Man and Trible Chief in Boston</p>
      <p class="text-sm text-gray-700">As a respected Fireman and Tribal Chief in Boston, Chief2Running Elk embodies a unique blend of courage, leadership, and community spirit. With a deep sense of duty and honor, he fearlessly protects his community from harm while also serving as a guiding force in tribal affairs. Known for his unwavering dedication to public safety and cultural preservation, Chief2Running Elk stands as a beacon of strength and resilience. His commitment to both his profession and heritage inspires others to stand tall and embrace their responsibilities with pride. Join Chief2Running Elk on his mission to safeguard lives and preserve traditions.</p>
    </div>
    
  </div>


   <!--second member  -->
   <div class="grid md:grid-cols-2 gap-4 pt-4 ">
    <!-- Image -->
    <div class="">
      <img src="src/images/Mable2.jpg" alt="Image" class="object-cover w-80 md:w-full md:h-80 h-60   rounded-3xl transition-all duration-300 hover:rounded-none  ">
    </div>
    
    
    <!-- Information -->
    <div class="bg-white rounded-lg p-6">
      <h2 class="text-lg font-semibold text-green-600">Komukaka Mable</h2>
      <p class="text-sm text-xephas-yellow mb-2">Business Lady and Social Worker</p>
      <p class="text-sm text-gray-700">As a dedicated Business Lady and Social Worker, she exemplifies a steadfast commitment to improving the lives of vulnerable children in Uganda. Guided by deep-rooted faith and unwavering compassion, she tirelessly advocates for those in need, embodying the spirit of empathy and service. With a heart filled with love and a vision for positive change, she channels her passion into meaningful action, striving to create a brighter future for every child she encounters. Her unwavering dedication to the cause inspires others to join the movement and make a difference in the lives of those less fortunate. Join her on her journey to transform lives and uplift communities.</p>
    </div>
    
  </div>
<!--qustions section -->
  <p class="text-italic font-medium text-lg text-jovic-background lg:text-xl pt-4">Frequently Asked Questions About RCOX ENDOWMENT & Our Services</p>

<div class="accordion" role="tablist">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Accordion Item 1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent=".accordion">
      <div class="accordion-body">
        <p>This is the content for item 1.</p>
      </div>
    </div>
  </div>
  </div>


  </Section>
      
  </Main>
</Layout>


