---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/H1.astro'
import Section from '../components/Section.astro'


---

<Layout title="About Us | RCOX ENDOWMENT"
pageUrl="/about"
>
  <Main class="py-12">
    <H1 text="About Us"></H1>
  <Section>



    <div class="grid lg:grid-cols-2 gap-2">
      <div class="">
        <!-- Left column for text -->
        <p class="text-jovic-background  text-2xl lg:text-3xl " >What is RCox Endowment ?</p>
        <p class="text-italic font-medium text-gray-600 text-lg lg:text-xl pt-2" >We are a dedicated organization based in Uganda committed to empowering vulnerable children and transforming their lives.We firmly believe that <span class="text-jovic">every child deserves</span> the opportunity to thrive, regardless of their circumstances.</p>
      </div>
      <div class="">
        <!-- Right column for image -->
        <img src="images/home1.jpg" alt="Image" class=" cursor-pointer object-cover w-full md:h-80 h-60 " >
      </div>
    </div>
    

  <p class="font-bold md:text-center  text-2xl lg:text-3xl pt-4" > Our Mission</p>
 
  <p class="text-italic font-medium text-lg text-gray-600 lg:text-xl pt-4" >At RCox Endowment , we're on a mission to break the cycle of poverty by providing essential resources and support to vulnerable children in Uganda. Through education, housing, and healthcare, we're building brighter futures and empowering communities. Join us in creating lasting change</p>

  <!-- staff memeber or board -->

  <p class=" text-2xl  font-bold md:text-center lg:text-3xl pb-5 pt-7" >Board of Members</p>
<!--first staff memeber -->

  <div class="grid md:grid-cols-2 gap-4 pt-6">
    <!-- Image -->
    <div class="">
     
      <img src="images/Robert.jpg" alt="Image" class="  object-cover cursor-pointer md:w-full md:h-80 h-60 w-80 rounded-2xl transition-all duration-300   hover:rounded-none" >
      <p class="text-base">Picture taken By <strong class="text-red-500 text-sm">Merri Cyr</strong> </p>
      
    </div>
    <!--infromation -->
    <div class="bg-white rounded-lg px-2">
      <h2 class="text-lg font-semibold text-green-600">Nij-Pajikwat-Mo`z</h2>
      <p class="text-sm text-jovic-background mb-2">Inspector Fire Marshal & Tribal Chief, Pocasset Wampanoag of Pokanoket Nation in Massachusetts and Rhode Island</p>
      <p class="text-gray-700">Nij-Pajikwat-Mo`z, also known as Chief Two Running Elk or Robert Cox, is a dedicated steward of the land, committed to community safety and cultural preservation. Serving as Inspector Fire Marshal in Boston and Tribal Chief of Pocasset Wampanoag of Pokanoket Nation in Massachusetts and Rhode Island, He is a veteran of The Boston Fire Department and full-time member of the Eastern Medicine Singers. Join him in supporting RCOX ENDOWMENT's mission to safeguard lives and preserve traditions.</p>
    </div>
    
    
      
  </div>


   <!--second member  -->
   <div class="grid md:grid-cols-2 gap-4 pt-6 ">
    <!-- Image -->
    <div class="">
      <img src="images/Mable2.jpg" alt="Image" class="object-cover cursor-pointer w-80 md:w-full md:h-80 h-60   rounded-2xl transition-all duration-300 hover:rounded-none">
    </div>
    
    
    <!-- Information -->
    <div class="bg-white rounded-lg px-2">
      <h2 class="text-lg font-semibold text-green-600">Komukaka Mable</h2>
      <p class="text-sm text-jovic-background mb-2">Business Lady and Social Worker</p>
      <p class=" text-gray-700 ">Komukaka Mable, a dedicated Business Lady and Social Worker, tirelessly advocates for vulnerable children in Uganda. With unwavering compassion and deep-rooted faith, she channels her passion into meaningful action, striving to create a brighter future for every child. Join her on her journey to transform lives and uplift communities.</p>
    </div>
    
  </div>

 <!--Future goals sections -->


 <section class="future-goals-section py-2 ">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold md:text-center py-5 px-6">Our Goals</h2>
    
    <p class="text-lg text-gray-800 px-4 py-2">
      Discover how RCox Endowment transforms lives in Uganda through education, healthcare, and community empowerment. Join us in our mission for lasting change.
    </p>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 ">
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl font-semibold mb-2 hover:text-jovic">Expansion of Reach</h3>
        <p class="text-gray-700">We aim to expand our reach to reach more communities and serve a greater number of vulnerable children across Uganda. Through strategic partnerships and community engagement, we seek to extend our programs and services to areas with the greatest need.</p>
      </div>
      
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl font-semibold mb-2 hover:text-jovic">Sustainable Development</h3>
        <p class="text-gray-700">Sustainability is at the core of our vision for the future. We are dedicated to implementing sustainable development practices that ensure the long-term impact of our interventions. By investing in education, healthcare, and economic empowerment, we aim to create self-reliant communities capable of thriving independently.</p>
      </div>
      
      <!-- Add more goal items as needed -->
        <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200  ">
          <h3 class="text-xl font-semibold mb-2 hover:text-jovic">Youth Entrepreneurship Development</h3>
          <p class="text-gray-700">Develop youth entrepreneurship programs to foster creativity, innovation, and economic independence among young people, empowering them to start their own businesses and contribute to the local economy.</p>
        </div>
        
        <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-2 hover:text-jovic">Health and Nutrition Campaigns</h3>
          <p class="text-gray-700">Launch health and nutrition campaigns to improve access to nutritious food, clean water, and healthcare services for children, reducing the prevalence of malnutrition and preventable diseases in vulnerable communities.</p>
        </div>

        <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-2 hover:text-jovic">Sports and Recreation Facilities</h3>
          <p class="text-gray-700">Build sports and recreation facilities such as playgrounds, sports fields, and community centers to promote physical activity, teamwork, leadership skills, and positive social interaction among children, fostering a sense of belonging and community pride.</p>
        </div>
        
        <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
          <h3 class="text-xl font-semibold mb-2 hover:text-jovic">Psychosocial Support Programs:</h3>
          <p class="text-gray-700">Implement psychosocial support programs to address the emotional and mental health needs of children affected by trauma, conflict, or hardship, providing counseling, peer support, and resilience-building activities to help them heal and thrive.</p>
        </div>

    </div>
    
  </div>
</section>



<div class="container mx-auto">
  <h1 class="text-3xl font-bold md:text-center py-5 px-6">Frequently Asked Questions</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="faq-item bg-gray-100 p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200">
      <h2 class="font-semibold mb-2 hover:text-jovic">Is RCox ENDOWMENT a non-profit organization?</h2>
      <p>Yes, RCox ENDOWMENT is a registered non-profit organization dedicated to serving the community.</p>
    </div>
    <div class="faq-item bg-gray-100 p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200">
      <h2 class="font-semibold mb-2 hover:text-jovic">Where is RCox ENDOWMENT located?</h2>
      <p>RCox ENDOWMENT is located in Uganda, specifically in Nalumunye, Whiteheart Lane.</p>
    </div>
    <div class="faq-item bg-gray-100 p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200">
      <h2 class="font-semibold mb-2 hover:text-jovic">What are the future goals of RCox ENDOWMENT?</h2>
      <p>RCox ENDOWMENT aims to expand its reach, promote sustainable development, and provide comprehensive support to vulnerable Children.</p>
    </div>
    <div class="faq-item bg-gray-100 p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200">
      <h2 class="font-semibold mb-2 hover:text-jovic">How can I support RCox ENDOWMENT?</h2>
      <p>You can support RCox ENDOWMENT by donating, volunteering, or spreading awareness about its mission and initiatives.</p>
    </div>
  </div>
   
</div>



  </Section>
      
  </Main>
</Layout>


