---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/H1.astro'
import Section from '../components/Section.astro'

---

<Layout title ="Gallery" >

 <Main>
  
    <H1 text="Gallery" ></H1>


   <Section>

    
    <a href="/stories" class="underline text-jovic-background font-bold text-xl  text-xephas-white p-7 ">Back to Stories</a>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <!-- First image -->
          <img src="src/images/gallery/photoe1.jpg" alt="Photo 1" class="object-cover w-full h-96 md:h-80 lg:h-96">
          <!-- Second image -->
          <img src="src/images/gallery/photoe3.jpg" alt="Photo 2" class="object-cover w-full h-96 md:h-80 lg:h-96">
         
          <!-- Third image -->
          <img src="src/images/gallery/photoe2.jpg" alt="Photo 3" class="object-cover w-full h-96 md:h-80 lg:h-96">
          <!-- Fourth image -->
          <img src="src/images/gallery/photoe7.jpg" alt="Photo 4" class="object-cover w-full h-96 md:h-80 lg:h-96">

          <!-- Fifth image -->
          <img src="src/images/gallery/photoe9.jpg" alt="Photo 5" class="object-contain w-full h-96 md:h-80 lg:h-96">
          <!-- Sixth image -->
          <img src="src/images/gallery/photoe11.jpg" alt="Photo 6" class="object-cover w-fullh-96 md:h-80 lg:h-96">
          

           <!-- 7th image -->
           <img src="src/images/gallery/photoe10.jpg" alt="Photo 7" class="object-contain w-fullh-96 md:h-80 lg:h-96">
            <!-- 8th image -->
            <img src="src/images/gallery/photoe13.jpg" alt="Photo 8" class="object-cover w-fullh-96 md:h-80 lg:h-96">
          
             <!-- 9th image -->
             <img src="src/images/gallery/photoe8.jpg" alt="Photo 9" class="object-cover w-fullh-96 md:h-80 lg:h-96">
             <!-- 10th image -->
             <img src="src/images/gallery/photoe14.jpg" alt="Photo 10" class="object-cover w-fullh-96 md:h-80 lg:h-96">
             <!-- 11th image -->
             <img src="src/images/gallery/photoe15.jpg" alt="Photo 11" class="object-cover w-fullh-96 md:h-80 lg:h-96">
             <!-- 12th image -->
             <img src="src/images/gallery/photoe18.jpg" alt="Photo 12" class="object-cover w-fullh-96 md:h-80 lg:h-96">
        </div>

        <a href="/stories" class="underline text-jovic-background font-bold text-xl  text-xephas-white p- ">Back to Stories</a>
   </Section>

 </Main>

</Layout>