
---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import Section from '../components/Section.astro'

---

<Layout title ="RCOX ENDOWMENT" >

 <Main>
  
  {/* Full-width image section */}
  
    <div class="hidden md:block bg-cover bg-center overflow-hidden h-screen  items-center justify-center" style="background-image: url('src/images/home1.jpg')">
      <div class="text-white text-center">
        
        <p class="text-6xl pt-48">RCOX ENDOWMENT SERVICES</p>
        <p class="text-3xl pt-2 text-">Empowering the Futures</p>
      </div>
    </div>

    {/* Background color section on small screens */}
    <div class="md:hidden flex items-center mb-5 h-60 bg-jovic-background justify-center">
      <div class="text-white text-center">
      
        <p class=" text-5xl pt-5 ">RCOX ENDOWMENT SERVICES</p>
        <p class=" sm:text-xl pt-3">Empowering the Futures</p>
      </div>
    </div>
  </div>




<Section>

<p>Hello</p>

<p class=" text-5xl pt-5 ">RCOX ENDOWMENT SERVICES</p>
        <p class=" sm:text-xl pt-3">Empowering the Futures</p>

</Section>


 </Main>

</Layout>


