
---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import Section from '../components/Section.astro'

---

<Layout title ="RCOX ENDOWMENT "
pageUrl="/"
>

 <!-- <Main> -->
  <div>
  
  {/* Full-width image section */}
  
   
    <div class="  md:bg-[url('src/images/home.jpg')] bg-[url('src/images/about.jpg')] bg-cover overflow-hidden h-screen" >  

      <div class="text-white text- h-[100dvh]">

        <div class=" bg-gray-800 bg-opacity-40 h-[100%] flex justify-center items-center flex-col">
          <p class="md:text-5xl  sm:text-4xl lg:text-6xl text-2xl font-bold md:text-white text-xephas-yellow  pt-28">RCOX ENDOWMENT SERVICES</p>
          <p class="md:text-3xl pt-2 font-thin text-2xl  ">Empowering  Futures</p>
        </div>
       
      </div>
    </div>

  </div>

 <!-- </Main> -->
</div>

</Layout>


