
---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'

---

<Layout title ="RCOX ENDOWMENT" >

 <Main>
  
  {/* Full-width image section */}
  <div class="bg-cover  bg-center overflow-hidden h-screen flex items-center justify-center" style="background-image: url('src/images/home1.jpg')">
    <div class="text-white text-center  mb-24">
      <h1 class="text-6xl font-italic tracking-wide   ">RCOX ENDOWMENT SERVICES</h1>
      <h1 class="text-2xl font-italic tracking-wide  ">Empowering Future</h1>
    </div>
  </div>


  <div class="cover-letter pt-8 text-lg  mx-auto">
    
    
  </div>
 </Main>

</Layout>


