
---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import Section from '../components/Section.astro'

---

<Layout title ="RCOX ENDOWMENT "
pageUrl="/"
>

 <!-- <Main> -->
  <div>
  
  {/* Full-width image section */}
  
   
    <div class="  md:bg-[url('/images/home.jpg')] bg-[url('/images/about.jpg')] bg-cover overflow-hidden h-screen" >  

      <div class="text-white text- h-[100dvh]">

        <div class=" bg-gray-800 bg-opacity-40 h-[100%] flex justify-center items-center flex-col">
          <p class="md:text-5xl  sm:text-4xl lg:text-6xl text-2xl font-bold md:text-white text-xephas-yellow  pt-28">RCOX ENDOWMENT SERVICES</p>
          <p class="md:text-3xl pt-2 font-thin text-2xl  ">Empowering  Futures</p>
        </div>
       
      </div>
    </div>

  </div>

 

 <!-- Section -->

     <Section>
      <div class="bg-gray-100 p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold text-center mb-4">Guided by Faith: Our Inspiration</h2>
        <p class="text-lg text-center mb-6">At <span class="text-jovic">RCOX ENDOWMENT SERVICES</span>, we are driven by a deep commitment to serving the most vulnerable in our community. Inspired by the words of Matthew 25:40, we believe that every act of kindness and support for those in need is a reflection of our shared humanity and a demonstration of love. As you explore our website, we invite you to reflect on these timeless words and join us in our mission to make a difference in the lives of others.</p>
        <blockquote class="text-lg italic text-center">"Truly I tell you, whatever you did for one of the least of these brothers and sisters of mine, you did for me." - Matthew 25:40</blockquote>
      </div>
      

     </Section>


</Layout>


