---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/h1.astro'

---

<Layout title ="OneLoveSalon" >

 <Main>
  
  <div class="cover-letter pt-8 text-lg  mx-auto">
    <H1 text="Thanks For the Vist" ></H1>
  
    <section class="hero bg-cover bg-no-repeat py-24 md:py-32 lg:py-48" >
      <div class="container mx-auto px-4 md:px-8">
        <h1 class="text-5xl font-bold text-center text-white md:text-left">Headline highlighting your salon's value proposition</h1>
        <p class="text-xl text-gray-200 text-center mt-4 md:text-left md:mt-6">Brief description of your salon's unique offerings and benefits.</p>
        <div class="flex justify-center mt-8 md:justify-start">
          <a href="/services" class="btn btn-primary hover:bg-blue-700">Browse Services</a>
          <a href="/contact" class="btn btn-outline ml-4 hover:bg-blue-200">Book an Appointment</a>
        </div>
      </div>
    </section>
    
  </div>
 </Main>

</Layout>
