---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/H1.astro'

import Section from '../components/Section.astro'
---

<Layout title ="Stories | RCOX ENDOWMENT"
pageUrl="/stories"
>

 <Main>
  
  
    <H1 text="Impactful Stories" ></H1>

  <Section>
 
        <!-- Featured Story: Luduk's Journey -->
        <div class="mb-2">
          <h2 class="text-2xl font-semibold mb-2  px-5">Luduk's Journey</h2>
          <div class="grid grid-cols-1 xl:grid-cols-3  md:grid-cols-2 py-3 gap-5 ">
           
            <!--Luduk at home-->
            <div class="bg-gray-100 p-4 rounded-lg shadow-md">
              <h3 class="font-semibold mb-2">Luduk at Home</h3>
              <p>This picture shows Luduk at home, where he often spends his time after school. Despite having his school fees paid by the organization, Luduk sometimes has to collect firewood in the bush to earn money for books. This glimpse into his daily life highlights the challenges he faces.</p>
              <!-- Replace the image with actual picture -->
              <img src="/images/Lukud.jpg" alt="Luduk at School" class="   h-3/5 w-4/5 rounded-md mt-2">
            </div>
            <!-- Picture of Luduk at school -->
            <div class="bg-gray-100 p-4 rounded-lg shadow-md">
              <h3 class="font-semibold mb-2">Luduk at School</h3>
              <p>This picture shows Luduk<span class="text-jovic-background">(in the blue shirt)</span> at school on the day our organization visited ,Luduk received books, and other children also received water bottles, bags, and other scholastic materials to support their education journey.</p>
              <!-- Replace the image with actual picture -->
              <img src="/images/Luku.jpg" alt="Luduk at School" class="   h-3/5 w-4/5 rounded-md mt-2">
            </div>
          <!-- Video of Headmaster thanking the organization -->
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <h3 class="font-semibold mb-2">Thank You Message from Headmaster</h3>
            <p class="">Watch the heartfelt message from Luduk's school headmaster expressing gratitude for the support provided by our organization.As we continue to assist children like Luduk, your support in various ways can make a significant impact. Explore how you can contribute and make a difference today</p>
            <!-- Replace the video with actual embedded video -->
            <div class=" mt-2">
              <!-- Embedded Video -->
              <!-- <iframe width="560" height="530" src="https://www.youtube.com/embed/fPifaHiKzz4?si=jMKPkHVTCqP55jqf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            </div>
          </div>

          </div>
        </div>
        
        <!--Children left by their Mother and father passed on -->
        <div class="grid md:grid-cols-2 p-4 gap-6">
          <!-- First Column -->
          <div>
            <h3 class="font-semibold mb-2">Queen, Ashemma, Eric, and Bright</h3>
            <p>Meet Queen, Ashemma, Eric, and Bright. Left by their mother and with their father passed on, they faced hardships and were forced to drop out of school. With the support of our organization, they now have a stable home and are back in school. You can help them continue to improve their situation.</p>
            <!-- Replace the video source with the actual video -->
            <!-- <video src="/videos/found_children.mp4" controls class="w-full rounded-lg shadow-md p-2"></video> -->
          </div>
          <!-- Second Column -->
          <div class="bg-gray-100 p-4 rounded-lg shadow-md">
            <h3 class="font-semibold mb-2">Queen</h3>
            <p>Here is Queen, one of the children, in her school uniform. With the support of our organization, she is now back in school and has the opportunity to pursue her education. Your contribution can make a difference in their lives.</p>
            <!-- Replace the image source with the actual photo -->
            <img src="images/Queen.jpg" alt="Queen in School Uniform" class="md:h-3/5 md:w-4/5 rounded-md p-3 ">
          </div>
        </div>
        
        <!--Odongo Noah -->
        <div class=" p-8">
          <h2 class="text-2xl font-semibold text-center mb-4">Odongo Noah's Journey: Before and After</h2>
          <div class="grid md:grid-cols-2 gap-6">
            <!-- Before Organization -->
            <div class="bg-white rounded-lg shadow-md p-4">
              <h3 class="font-semibold mb-2">Before</h3>
              <p>Watch the video below to hear Odongo Noah share his story before our organization found him. Despite facing challenges, he held onto hope for a better future.</p>
              <!-- Embed Video Here -->
              <!-- <iframe class="w-full h-48" src="https://www.youtube.com/embed/your-video-id" frameborder="0" allowfullscreen></iframe> -->
            </div>
            <!-- After Organization -->
            <div class="bg-gray-100 p-4 rounded-lg shadow-md">
              <h3 class="font-semibold mb-2">After</h3>
              <p>Now, Odongo Noah stands with pride, ready to embrace his education journey. Thanks to your support, he has access to school fees and necessary scholastic materials to thrive in his studies. However, there are still other needs he requires assistance with to ensure his continued success</p>
              <!-- Replace the image source with the actual photo -->
              <img src="/images/Odongo.png" alt="Odongo Noah in Uniform" class="md:h-3/5 md:w-4/5 rounded-md p-3 ">
            </div>
          </div>
        </div>
        

        
        <!-- Featured Story: Nanjovu Racheal -->
        <div class="mb-8 pt-7">
          
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Picture of Nanjovu Racheal with the organization owner -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md">
              <h3 class="font-semibold mb-2">Nanjovu Racheal's Story</h3>
              <p>Discover Nanjovu Racheal's inspiring story of resilience. Despite losing both her parents, she excels as a top student, sharing her journey with our organization's board member</p>
              <!-- Replace the image with actual picture -->
              <img src="/images/Nanjovu.png" alt="Nanjovu Racheal with Organization Owner" class=" h-3/5 w-4/5 rounded-md mt-4">
            </div>
            <!-- Picture of Sserugo Mathias -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md">
              <h3 class="font-semibold mb-2">Sserugo Mathias's Journey</h3>
              <p>Explore Sserugo Mathias's determination to pursue education despite challenges. He sells water in Nakasongola to get school fees. He receives support from our program</p>
              <!-- Replace the image with actual picture -->
              <img src="/images/sserugo.jpg" alt="Sserugo Mathias" class=" h-3/5 w-4/5 rounded-md mt-4">
            </div>
          </div>
        </div>
        
        <!-- Other Stories: Children Receiving Gifts -->
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">Other Impactful Moments</h2>
          <h3 class="font-semibold mb-2">Children Receiving Gifts</h3>
          <p class="py-2">Experience the heartwarming moments captured as children receive shoes and other gifts from our organization, spreading smiles and igniting hope.</p>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- Children receiving shoes and gifts -->
            <div class="bg-gray-100 p-2 rounded-lg shadow-md">
              <!-- Replace the image with actual picture -->
              <img src="/images/child2.jpg" alt="Children Receiving Gifts" class="w-full rounded-md mt-4">
            </div>
            <!-- Additional impactful stories -->
            <div class="bg-gray-100 p-2 rounded-lg shadow-md">
            <img src="/images/NGO 1.jpg" alt="Children Receiving Gifts" class="w-full rounded-md mt-4">
          </div>
          <!-- Additional impactful stories -->
          <div class="bg-gray-100 p-2 rounded-lg shadow-lg">
            <img src="/images/Shoe1.jpg" alt="Children Receiving Gifts" class="h-9/12 w-4/5 rounded-md mt-4">
          </div>
        </div>
        
        <!-- Call-to-Action -->
        <div class="text-center p-5">
          <a href="/gallery" class="text-blue-500 hover:underline">Continue to the Gallery</a>
        </div>
      


  </Section>

  </div>
 </Main>

</Layout>