---
import { developer} from "../scripts/constanst";

// Props (parameters) type declaration

---




<footer
  id="footer"
  class=`flex flex-col px-4 py-4 lg:px-10 space-y-2 text-xs text-center text-white bg-jovic`
>
  <p class=" text-lg font-bold">{developer.copyright}</p>

  <!-- names -->
  <p class="mb-2">
    Crafted, Engineered, and Brought to Life by
    <a
      href={developer.footerCollaboratorUrl}
      class=`underline text-xephas-yellow font-bold  text-xephas-white}`
      target="_blank"
      rel="noopener">{developer.footerCollaborator} &rarr;</a
    >
  </p>

 
  </p>
</footer>
 






