<main class=" mx-auto w-full bg-jovic-white overflow-x-auto main">

    <slot/>
    
</main>
    
<style>
    main {
  padding-top: 83px; /* Adjust as needed based on header height */
  padding-bottom: 80px;
}
</style>